<div id="upcoming-talks">
  <h2>Upcoming Talks</h2>
  <% upcoming_talks.each do |talk| %>
    <div id="talk-<%=talk.id%>" class="talk">
      <h3><%= talk.name %> - Presented By <%=talk.claimant_name%></h3>
    </div>
  <%end %>
</div>
