<div id="suggested-talks">
  <h2>Suggested Talks</h2>
  <ul>
    <% @talks.each do |talk| %>
    <li><%= talk.name %></li>
    <%end %>
  </ul>

  <form method="POST" action="/talks">
    <label>Talk Name: <input id="talk_name" type="text" name="talk[name]" /></label>
    <button>Suggest Talk</button>
  </form>
</div>