<div id="suggested-talks">
  <h2>Suggested Talks</h2>
  <% suggested_talks.each do |talk| %>
    <div id="talk-<%=talk.id%>" class="talk">
      <h3><%= talk.name %></h3>
      <form method="POST" action="/talks/<%=talk.id%>/claim">
        <button>I'll do it!</button>
      </form>
    </div>
  <%end %>

  <h3>Suggest a Talk</h3>
  <form method="POST" action="/talks">
    <label>Talk Name: <input id="talk_name" type="text" name="talk[name]" /></label>
    <button>Suggest Talk</button>
  </form>
</div>
