<h1>Thunder!</h1>
<p>All the Awesome Lightning Talks!</p>

<% if flash[:notice] %>
  <p class="notice"><%=flash[:notice]%></p>
<% end %>

<nav>
  <ul>
    <% if logged_in? %>
      <li>Logged in as: <%= current_user.name %></li>
      <li><a href="/sessions/delete">Log out</a></li>
    <% else %>
      <li><a href="/sessions/new">Log in</a></li>
      <li><a href="/users/new">Register as a Norse Deity</a></li>
    <% end %>
  </ul>
</nav>
