<!DOCTYPE html>
<head>
  <title>Thunder</title>
  <script src="/javascripts/vendor/jquery-1.10.2.js"></script>
  <script src="/javascripts/application.js"></script>
  <script src="/javascripts/lib/thunder.js"></script>
  <script src="/javascripts/lib/talk.js"></script>
  <script src="/javascripts/lib/talks-view.js"></script>
  <script src="/javascripts/lib/add-talk-form-view.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Fenix|Codystar' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/application.css" media="screen"/>
</head>

<body>
  <header>
    <div id="tagline">
      <h1>Thunder!</h1>
    </div>

    <nav>
      <ul>
        <%= erb navigation_partial  %>
      </ul>
    </nav>

    <% if flash[:notice] %>
      <p class="notice"><%=flash[:notice]%></p>
    <% end %>

  </header>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
