<!DOCTYPE html>
<head>
  <title>Thunder</title>
  <script src="/javascripts/vendor/jquery-1.10.2.js"></script>
  <script src="/javascripts/application.js"></script>
  <script src="/javascripts/lib/thunder.js"></script>
  <script src="/javascripts/lib/talk.js"></script>
  <script src="/javascripts/lib/talks-view.js"></script>
  <script src="/javascripts/lib/add-talk-form-view.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/application.css" media="screen"/>
</head>

<body>
  <%= yield %>
</body>
</html>
