<% if flash[:error] %>
  <p class="error"><%= flash[:error] %>
<% end %>

<form method="POST" action="/sessions">
  <label>Email:
    <input id="user_email" name="user[email]" value="<%=@email%>">
  </label>

  <label>Password:
    <input id="user_password" name="user[password]" type="password">
  </label>

  <button>Log in</button>
</form
