<form method="POST" action="/users">
  <label>Name:
    <input id="user_name" name="user[name]">
  </label>

  <label>Email:
    <input id="user_email" email="user[email]">
  </label>

  <label>Password:
    <input id="user_password" password="user[password]">
  </label>

  <button>Finish Registering</button>
</form>
